<h1> Welcome to the Movie Catalogue! </h1>
<h2><%= @actor[0]["name"] %></h2>

<ul>
  <% @actor.each do |appearance| %>
    <li><%= "#{appearance["character"]} -" %> <a href="/movies/<%= appearance["id"] %>"> <%= appearance["title"] %> </a></li>
  <% end %>
</ul>  

<p><a href="/movies"> Home </a></p> 